<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049672390891-9s14dkg2ljb1rcoahitoaciv78j62lu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049672390891-9s14dkg2ljb1rcoahitoaciv78j62lu2</string>
	<key>API_KEY</key>
	<string>AIzaSyAFwBgzsmHdkGB3RogXM9UVL_YcN7NYnWg</string>
	<key>GCM_SENDER_ID</key>
	<string>1049672390891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinful</string>
	<key>PROJECT_ID</key>
	<string>sinfulapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sinfulapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049672390891:ios:78bee77606bb6ae3</string>
	<key>DATABASE_URL</key>
	<string>https://sinfulapp.firebaseio.com</string>
</dict>
</plist>